<html>
    <head>
        <title>Blog Francisco de Oliveira</title>
    </head>
  <body>
      <div>
          <h1><a href="/">Blog Francisco de Oliveira</a></h1>
      </div>

      <div>
          <p>publicado: 26.06.2019, 23:00</p>
          <h2><a href="">Meu primeiro post</a></h2>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <div>

      <div>
          <p>publicado: 26.06.2019, 23:00</p>
          <h2><a href="">Meu segundo post</a></h2>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <div>
  <body>

</html>
